.banner{
  height: 641px;
  border-radius: 60px;
	background: linear-gradient(103.85deg, #F33F5E, #FA8550 , #FA50A2);
  background-size: 400% 400%;
	animation: transfusion 15s ease infinite;
}

.banner-container-1 {
  position: relative;
  h1 {
    font-weight: 500;
    font-size: 76px;
    line-height: 100%;
  }
  p {
    max-width: 90%;
    font-size: 24px;
    line-height: 140%;
  }
}

.button-down {
  position: absolute;
  bottom: -9%;
  left: 15%;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  z-index: 1;
  &:hover {
    box-shadow: var(--primary-shadow);
    border-color: var(--border-color);
  }

  .text {
    animation: rotate 15s ease infinite;
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
  }
}

.banner-container-1 > div {
  margin-left: 5rem;
}

.banner-container-2 {
  position: relative;
  overflow: hidden;
  .girl-img, .elipse, .elipse::after, .elipse::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
  }

  .girl-img{
    filter: drop-shadow(0px 0px 0.75rem rgba(48, 48, 49, 0.5));
    z-index: 1;
  }

  .elipse {
    animation: pulse-2 15s ease-in infinite;
  }

  .elipse, .elipse::after, .elipse::before {
    bottom: -20%;
    width: 850px;
    height: 850px;
    border-radius: 50%;
    opacity: 0.5;
    border: 2px solid #FF949B;
    background-color: transparent;
  }

  .elipse::after {
    content: "";
    display: block;
    bottom: 85px;
    width: 680px;
    height: 680px;
  }
  .elipse::before {
    content: "";
    display: block;
    bottom: 185px;
    width: 480px;
    height: 480px;
  }
}
