header {
  display: flex;
  justify-content: center;
  
  .navbar {
    background-color: var(--header-bg-color) !important;
  }

  .navbar-nav {
    display: grid;
    grid-auto-flow: column;
    gap: 35px;
  }
}

