#map {
  position: relative;
  margin-top: 20rem;
  padding-top: 5rem;
  .map-desc {
    position: absolute;
    h5 {
      margin-bottom: 0;
      font-size: 8vw;
      line-height: .9;
      & + p {
        max-width: 450px;
        font-size: 1.6vw;
        font-weight: 600;
        
      }
    }
    @media only screen and (max-width: 576px)  {
      h5 {
        font-size: 4rem;
      }
      p {
        font-size: 1.5rem !important;
      }
    }
  }

  .map-icons img {
    margin: 0 5px;
  }

}

.map-icons {
  & .twitter {
    top: -2%;
    left: 2%;
  }

  & .whatsapp {
    top: -3%;
    left: 23%;
  }

  & .google-map {
    top: 26%;
    left: 14%;
  }

  & .booking {
    top: 33%;
    left: -3%;
  }

  & .facebook {
    top: 58%;
    left: 18%;
  }

  & .telegram {
    top: 70%;
    left: 2%;
  }

  & .google-map2 {
    top: 90%;
    left: 17%;
  }

  & .google-map3 {
    top: -2%;
    left: 69%;
  }

  & .streetview {
    top: -3%;
    left: 93%;
  }

  & .linkedin {
    top: 13%;
    left: 78%;
  }

  & .google-map4 {
    top: 37%;
    left: 94%;
  }

  & .instagram {
    top: 71%;
    left: 72%;
  }

  & .google-map5 {
    top: 77%;
    left: 89%;
  }

  & .google-map6 {
    top: 50%;
    left: 82%;
  }

}

@media only screen and (max-width: 576px)  {
  #map {
    margin-top: 0;
  }
  .map-icons  {
    .icon-item {
      display: none;
    }
  }
}
