.tehnology {
  height: 515px;

}

.technology-collage {
  position: relative;
  margin-top: 1rem;

  &::after, &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../assets/image/tehnology/background-particle.png");
    background-repeat: round;
    background-size: auto;
    z-index: -1;
  }

  &::after {
    width: 150px;
    height: 70px;
    top: 43%;
    left: 0;
    transform: scaleX(-1);
  }

  &::before {
    width: 150px;
    height: 85px;
    top: 60%;
    right: 0;
  }

  .col:first-child {
    align-self: center;
  }
  .shop {
    position: relative;
    img:last-child {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(40%);
    }
  }
}

.technology-desc > div {
  margin-left: 4.8rem;
  margin-bottom: 4rem;

  .desc {
    max-width: 90%;
  }
  .bolt-text {
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
  }

  @media only screen and (max-width:768px) {
    margin-left: unset;
    .desc {
      max-width: 100%;
    }
  }
}