@media (min-width: 1600px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1600px;
  }
}

.container-wrapper {
  width: 100%;
  max-width: 1480px;
  .row {
    margin: 0;
  }
}

.section-mt {
  margin-top: 6.5rem;
}

.centered {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.mb-45 {
  margin-bottom: 2rem !important;
}